---
import AboutUsSection from "../components/AboutUsSection.astro";
import SearchSection from "../components/SearchSection.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="HIGHLIDE" description="HIGHLIDE site layout">
    <SearchSection action="/Produkt-overblik" />
    <div class="mb-12 md:mb-20">
        <AboutUsSection />
    </div>
</SiteLayout>
