---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="HIGHLIDE" description="HIGHLIDE site layout">
    <section>
        <h1>HIGHLIDE Homepage</h1>
    </section>
</SiteLayout>
